
@model BusCompanyManagementApplication.Models.Buses.BusViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Bus</h1>

<br />

<table class="table" BORDERCOLOR=#c99797>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Bus Brand")
            </th>
            <th>
                @Html.DisplayName("Total Seats")
            </th>
            <th>
                @Html.DisplayName("blabla")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buses)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.BusBrand)
            </td>
            <td>
                @Html.DisplayFor(model => item.TotalSeats)
            </td>

            <td>
                @Html.DisplayFor(model => item.BusFacility.HasTv)
            </td>

        </tr>
        }
    </tbody>
</table>