@model BusCompanyManagementApplication.Models.TripModel.TripViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Trip</h1>

<br/>
<a href='@Url.Action("AddTrip", "SearchTrip")'>Create Trip</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ArrivalTime")
            </th>
            <th>
                @Html.DisplayName("DestinationTime")
            </th>
            <th>
                @Html.DisplayName("Arrival")
            </th>
            <th>
                @Html.DisplayName("Destination")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trips)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(model => item.DestinationTime)
            </td>

            <td>
                @Html.DisplayFor(model => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(model => item.Destination)
            </td>

            <td>
                <a asp-action="DeleteTrip" asp-route-id="@item.TripId">Delete</a>
                <a asp-action="UpdateTrip" asp-route-id="@item.TripId">Update</a> 
                <a asp-action="Index" asp-route-id="@item.TripId" asp-controller="Bus" >Bus Info</a>
            </td>
        </tr>
        }
    </tbody>
</table>