@model BusCompanyManagementApplication.Models.AnnouncementModel.AnnouncementViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Announcement")
                    </th>
                    <th>
                        @Html.DisplayName("Title")
                    </th>
                    <th>
                        @Html.DisplayName("AddedTime")
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Announcements.Count() == 0)
                {
                    <tr>
                        <td colspan="4">
                            No news available at the moment
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.Announcements)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AddedTime)
                </td>


                @*<td>
            <a asp-action="DeleteTrip" asp-route-id="@item.TripId">Delete</a> |
            <a asp-action="UpdateTrip" asp-route-id="@item.TripId">Update</a> |
            <a asp-action="Index" asp-route-id="@item.TripId" asp-controller="Bus">Bus Info</a>
        </td>
        <td>
            <a asp-action="BookSeat" asp-route-id="@item.TripId" asp-controller="SearchTrip">
                <input type="submit" class="btnn success" value="Book Seat" />
            </a>
        </td>*@
            </tr>
                    }
                }
            </tbody>
        </table>

</div>