@model BusCompanyManagementApplication.Models.HistoryTrip.HistoryTripsViewModel
@{
    ViewData["Title"] = "Index";
}
<html>
<body>
    <h1>History trips</h1>
    <br />
    <style>
        .checked {
            color: orange;
            border-color: black;
            border: thick;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Button.css">
    <table class="table" BORDERCOLOR=white>
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("Seat number")
                </th>
                <th>
                    @Html.DisplayName("Ticket Price")
                </th>
                <th>
                    @Html.DisplayName("Arrival")
                </th>
                <th>
                    @Html.DisplayName("Arrival time")
                </th>
                <th>
                    @Html.DisplayName("Destination")
                </th>
                <th>
                    @Html.DisplayName("Destination time")
                </th>
                <th>
                    @Html.DisplayName("Rating")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.historyTrip)
            {
                @if (item.Status == "Completed")
                {
                    <tr style="background-color: mediumseagreen">
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.ArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.Destination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.DestinationTime)
                        </td>
                        <td>
                            <form asp-controller="HistoryTrip" asp-action="SaveRating" method="post">
                                <input type="hidden" asp-for="@item.PersonalTripId" />
                                <select asp-for="@item.Rating">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>

                                <script>

                         function GetSelectedValue() {
                             var e = document.getElementById("rating");
                             var result = e.options[e.selectedIndex].value;
                             @item.Rating = result;
                             //save changes in the database
                         }
                                </script>
                                <span class="fa fa-star checked"></span>
                                <button type="submit">Submit</button>
                            </form>

                        </td>
                        <td>
                            <a asp-action="DeleteTripHistory" asp-route-id="@item.PersonalTripId">
                                <input type="submit" class="btnn success" value="Delete" />
                            </a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="background-color: #c89797">
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.ArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.Destination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trip.DestinationTime)
                        </td>
                        <td>
                            <label>Soon</label>
                        </td>
                        <td>
                            <a asp-action="DeleteTripHistory" asp-route-id="@item.PersonalTripId">
                                <input type="submit" class="btnn success" value="Delete" />
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
                
            